<div class="card has-text-left">
    <div class="card-image">
        <figure class="image is-4by3">
            <a href="{{ include.link }}"><img src="{{ include.image }}" alt="{{ include.alt }}" /></a>
        </figure>
    </div>
    <header class="card-header">
        <a href="{{ include.link }}" class="card-header-title">{{ include.title }}</a>
    </header>
    <div class="card-content">
        <div class="content">
            {{ include.description }}
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                Published on <time datetime="2016-1-1">{{ include.datetime }}</time> on <a href="{{ include.link }}">{{ include.channel }}</a>.
            </span>
        </p>
    </footer>
</div>