<nav class="navbar is-info">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/logo-01.svg" alt="Logo" />
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="/">Home</a>
              <a class="navbar-item" href="/posts">Posts</a>
              <span class="navbar-item">
                <a class="button is-primary is-inverted" href="https://outlook.office365.com/owa/calendar/DataQualityWorksBookings@dataqualityworks.com/bookings/">Book Introductory Call</a>
              </span>
            </div>
          </div>        
    </div>
</nav>
