<div class="fixed-grid has-3-cols-mobile has-3-cols-tablet has-5-cols-desktop has-5-cols-widescreen has-5-cols-fullhd">
    <div class="grid">
        {% assign weighted_posts = site.posts | sort: "weight" | reverse %}
        {% for post in weighted_posts %}
        <div class="cell">
            {% include card_post.html image = post.image alt = post.alt title = post.title description = post.description datetime = post.datetime link = post.link channel = post.channel %}
        </div>
        {% endfor %}
    </div>
</div>
