<div class="fixed-grid has-3-cols-mobile has-3-cols-tablet has-5-cols-desktop has-5-cols-widescreen has-5-cols-fullhd">
    <div class="grid">
        {% assign weighted_services = site.services | sort: "weight" %}
        {% for service in weighted_services %}
        <div class="cell">
            {% include card_service.html image = service.image alt = service.alt title = service.title description = service.description slug = service.slug %}
        </div>
        {% endfor %}
    </div>
</div>
