<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <main>

        {% include header.html %}

        <section class="section">
            <div class="container">
                <div class="content has-text-centered">

                    {{ content }}

                    <h2>Services</h2>

                    {% include services.html %}

                    <h2>Posts, Presentations and Open Source Projects</h2>

                    {% include posts.html %}

                    <img src="assets/images/default-microsoft-partner-logo.png" style="height: 120px"/>

                </div>
        </section>

    </main>

    {% include footer.html %}

    {% include google-analytics.html %}

</body>

</html>